<!-- TODO Integrate this template into SF bundle -->

{% block db_pedia_widget %}
    <div class="select2-tags" data-sf-type="dbPedia" data-sf-lookup="{{ lookupUrl }}">
        <div class="tags"></div>
        <select class="tags-selector">
        </select>
        <textarea class="tags-value" {{ block('widget_attributes') }} >{{ value }}</textarea>
    </div>
{% endblock %}

{% block uri_widget %}

    <div class="select2-tags" data-sf-type="uri" data-sf-lookup="{{ lookupUrl }}" data-sf-label="{{ labelUrl }}">
        <div class="tags"></div>
        <select class="tags-selector">
        </select>
        <textarea class="tags-value" {{ block('widget_attributes') }} >{{ value }}</textarea>
    </div>
{% endblock %}
