<!-- TODO Integrate this template into SF bundle -->

{% block db_pedia_widget %}
    <div id="{{ id }}" class="select2-tags" data-sf-type="dbPedia" data-sf-lookup="http://lookup.dbpedia.org/api/search.asmx/PrefixSearch">
        <div class="tags"></div>
        <select class="tags-selector">
        </select>
        <textarea class="tags-value" {{ block('widget_attributes') }} >{{ value }}</textarea>
    </div>
{% endblock %}

{% block adresse_widget %}
    <div id="{{ id }}" class="select2-tags" data-sf-type="adresse" data-sf-lookup="https://api-adresse.data.gouv.fr/search/">
        <div class="tags"></div>
        <select class="tags-selector">
        </select>
        <textarea class="tags-value" {{ block('widget_attributes') }} >{{ value }}</textarea>
    </div>
{% endblock %}

{% block multiple_widget %}
    <div id="{{ id }}" class="select2-tags" data-sf-type="multiple" data-sf-lookup="https://api-adresse.data.gouv.fr/search/" >
        <div class="tags"></div>
        <select class="tags-selector" multiple="multiple" >
        </select>
        <textarea class="tags-value" {{ block('widget_attributes') }} >{{ value }}</textarea>
    </div>
{% endblock %}

{% block uri_widget %}

    <div id="{{ id }}" class="select2-tags" data-sf-type="uri" data-sf-lookup="{{ path('webserviceFieldUriSearch') }}" data-sf-label="{{ path('webserviceFieldUriLabel') }}" data-sf-rdfType="{{ rdfType }}">
        <div class="tags"></div>
        <select class="tags-selector">
        </select>
        <textarea class="tags-value" {{ block('widget_attributes') }} >{{ value }}</textarea>
    </div>
{% endblock %}
{% block thesaurus_widget %}

    <div id="{{ id }}" class="select2-tags" data-sf-type="thesaurus" data-sf-lookup="{{ path('webserviceFieldUriSearch') }}" data-sf-label="{{ path('webserviceFieldUriLabel') }}" data-sf-rdfType="{{ rdfType }}" data-sf-graphuri="{{ graphUri }}">
        <div class="tags"></div>
        <select class="tags-selector">
        </select>
        <textarea class="tags-value" {{ block('widget_attributes') }} >{{ value }}</textarea>
    </div>
{% endblock %}
