{% extends "::admin.html.twig" %}

{% block title %}SemApps  | {{ componentName }}{% endblock %}

{% block pageContent %}
    {{ parent() }}
    <ul class="nav nav-tabs">
        <li role="presentation" class="active pull-right">
            <a href="{{ path('thesaurusForm',{'componentName':componentName}) }}">
                <span class="glyphicon glyphicon-plus"></span>
                Ajouter</a>
        </li>
    </ul>
    <br>

    <table class="table table-bordered">
        {% for item in listContent %}
            <tr>
                <td style="width:100%">{{ item.title }}</td>
                <td>
                    <a class="btn" target="_parent" href="/detail?uri={{ item.uri }}"><span
                                class="glyphicon glyphicon-eye-open"></span>
                        Voir</a>
                </td>
                <td>
                    <a href="{{ path('thesaurusForm',{'componentName':componentName,uri:item.uri}) }}"
                       class="btn"><span
                                class="glyphicon glyphicon-edit"></span>&nbsp;Editer</a>
                </td>
                <td>
                    <a class="btn component-delete" href="{{ path('thesaurusDelete',{'componentName':componentName,'uri':item.uri}) }}" name="{{ componentName }}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
