{% macro input(field,property,type,placeholder,collection) %}
    {% if type == 'collection' %}
        <label for="{{ field.label }}"
               data-uri-property="{{ property }}">{{ field.label }}</label>
        <select class="form-control" name="{{ field.htmlName[0] }}">
            {% for key, elem in collection %}
                <option value="{{ key }}"
                        {% if key == field.value[0] %}selected="true"{% endif %}>{{ elem }}</option>
            {% endfor %}
        </select>

    {% elseif type == 'notype' %}
        {% if field.value[0] %}
            <label for="{{ field.label }}"
                   data-uri-property="{{ property }}">{{ field.label }}</label>
            {% for i in 0..field.value|length-1 %}
                {% if i > 0 %} , {% endif %}
                <a href="{{ field.value[i] }}"
                   name="{{ field.htmlName[i] }}">{% if field.valueLabel is null %}{{ field.value[i] }} {% else %}{{ field.valueLabel[i] }}{% endif %}</a>
            {% endfor %}
        {% endif %}

    {% else %}

        {% if type != 'hidden' %}<label for="{{ field.label }}"
                                        data-uri-property="{{ property }}">{{ field.label }}</label>{% endif %}
        {% for i in 0..field.value|length-1 %}
            <input class="form-control"
                   placeholder="{{ placeholder|default(field.comment) }}"
                   {% if(field.cardinality|split(':')[0] == '1' and i == 0) %}required="required" {% endif %}
                   name="{{ field.htmlName[i] }}" value="{{ field.value[i] }}"
                   type="{{ type|default('text') }}">
        {% endfor %}
    {% endif %}

{% endmacro %}

{% macro textarea(field,property,placeholder,collection) %}
    <label for="{{ field.label }}"
           data-uri-property="{{ property }}">{{ field.label }}</label>
    {% for i in 0..field.value|length-1 %}
        <textarea class="form-control" style="height:180px"
                  name="{{ field.htmlName[i] }}"
                  placeholder="{{ placeholder|default(field.comment) }}">{{ field.value[i] }}</textarea>
    {% endfor %}
{% endmacro %}

{% macro number(field,property,placeholder, min, max, step = 1) %}
    <label for="{{ field.label }}"
           data-uri-property="{{ property }}">{{ field.label }}</label>
    {% for i in 0..field.value|length-1 %}
        <input class="form-control"
               min="{{ min }}"
               max="{{ max }}"
               step="{{ step }}"
               placeholder="{{ placeholder|default(field.comment) }}"
               {% if(field.cardinality|split(':')[0] == '1' and i == 0) %}required="required" {% endif %}
               name="{{ field.htmlName[i] }}" value="{{ field.value[i] }}"
               type="number">
    {% endfor %}
{% endmacro %}

{% macro dbPedia(field, property) %}
    <label for="{{ field.label }}"
           data-uri-property="{{ property }}">{{ field.label }}</label>
    <select class="form-control select2-dbPedia" name="{{ field.htmlName[0] }}">
    </select>
{% endmacro %}

{% macro lookup(field, property, queryClass) %}
    <label for="{{ field.label }}"
           data-uri-property="{{ property }}">{{ field.label }}</label>
    <select data-query-class="{{ queryClass }}" class="form-control select2-lookup" name="{{ field.htmlName[0] }}">
    </select>
{% endmacro %}

{% macro allMissingFields(organisation, property) %}
    {% import _self as formField %}
    <hr>
    {% for key, field in organisation.fields %}
        {#{% if key not in property %}#}
        <div class="row">
            <div class="form-group col-xs-12">
                {{ formField.input(field,key,field.widgetType|lower|split(' ')[0]) }}
            </div>
        </div>
        {#{% endif %}#}
    {% endfor %}
{% endmacro %}
