{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet"
          href="{{ asset('admin/css/style.css') }}">
    <link type="text/css" rel="stylesheet"
          href="{{ asset('admin/css/menu.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/js/dist/script.min.js') }}"></script>
{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col col-sm-10">
                    <div class="gv-logo-mini-inner">
                        <div class="gv-logo-mini-limit">
                            <svg viewBox="0 0 600 600"
                                 style="background-color:#ffffff00"
                                 version="1.1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xml:space="preserve">
						<g id="TEXT">
                            <g>
                                <path d="M 50 224 C 52 243.3333 58 312 64 322 C 78.6667 320.6667 88 315.3333 102 310 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 80 268 C 100 268 122 262.6667 124 242 C 126 221.3333 92.6667 233.3334 89.3333 252.6667 C 86 272 97.3333 302.6667 133.3333 280.6667 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 172.6667 218 C 144 210.6667 134 238 152 252 C 170 266 205.6312 290.3779 183.3333 310 C 166.6667 324.6667 150 315.3333 146 312 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 286.6667 126.6667 C 266 125.3333 232 134.6667 217.3333 186.6667 C 202.6667 238.6667 232 299.3333 270 293.3333 C 308 287.3333 308 263.3333 308 254 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 264 252 C 286 251.3333 311.3333 252.6667 330 256 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 260 226 C 260.6667 206.6667 264.6667 170 270 158 C 286.6667 157.3333 308 161.3333 308 174 C 308 186.6667 287.3333 200.6667 262 193.3333 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 288.6667 194.6667 C 291.3333 205.3333 298.6667 218 304 226 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 330.6667 228.6667 C 336 207.3333 359.3333 142.6667 373.3333 128 C 382 151.3333 398.6667 216.6667 404 236 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 348 180 C 364 179.3333 374 178.6667 390 178 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 357.3333 290 C 358 258.6667 360 230.6667 364 214 C 374 237.3333 396 280.6667 416 294 C 422.6667 261.3333 436 200 436 200 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 444 300 C 448 277.3333 460 224.6667 466 188 C 501.3333 203.3333 509.3335 236.6667 499.3334 262.6667 C 489.3333 288.6667 473.25 307 439.75 300 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 550 268 C 526 248.6667 505.3333 276 529.3333 291.3333 C 553.3333 306.6667 540.6667 329.3333 523.3334 327.3333 C 506 325.3333 504 315.3333 502 310 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 90.6667 382.6667 C 104 398.6667 125.3333 429.3333 148 455.3333 C 156 373.3333 155.3333 393.3333 158 358 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 198.6667 380.6667 C 209.7894 375.4324 241.3333 392.6667 230 420 C 218.6667 447.3333 179.3333 433 179.6667 412 C 179.922 395.9155 187.3333 386 198.6667 380.6667 Z"
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 266 440 C 262 416.6667 255.3333 384.6667 252 368 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 247.25 354.25 L 245.9063 344.8125 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 240 468 C 271.3333 477.3333 297.3333 469.3333 304.6667 455.3333 C 312 441.3333 308 420.6667 294 393.3333 C 280 366 269.3333 342 285.3333 326 C 301.3333 310 312 317.3333 320 320 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 336 350 C 336 361.3333 334.6667 388.6667 334 400 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 362 424 C 364.6667 407.3333 370 369.3333 374 342 C 380 366 394 432.6667 410 432.6667 C 426 432.6667 442.6667 386.6667 446 344 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 430 450 C 460 438.6667 476.6667 428.6666 484 415.3333 C 491.3333 402 492 382.6667 474 380 C 456 377.3333 458.6667 405.3333 476 411.3333 C 493.3333 417.3333 508 427.3333 510 442 C 512 456.6667 496.6667 468 476.6667 456.6667 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                                <path d="M 331.5 432.25 L 331.9063 421.8125 "
                                      stroke="#ffffff" stroke-width="10"
                                      fill="none"></path>
                            </g>
                        </g>
				</svg>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="logout"
                           href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    {% else %}
                        {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {{ parent() }}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="row affix-row">
            <div class="col-sm-3 col-md-2 affix-sidebar">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav" id="sidenav01">
                                <li class="active">
                                    <a href="#">
                                        <h4>
                                            {{ app.user.username }}
                                            <br>
                                            <small>{% if "ROLE_ADMIN" in app.user.roles %}Administrateur{% endif %}</small>
                                            <small>{% if "ROLE_EDITOR" in app.user.roles %}Editeur{% endif %}</small>
                                            <small>{% if "ROLE_MEMBER" in app.user.roles %}Membre{% endif %}</small>
                                        </h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('home') }}">
                                        <span class="glyphicon glyphicon-home"></span>
                                        Accueil
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('profile') }}">
                                        <span class="glyphicon glyphicon-user"></span>
                                        Mon profil
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('detail_orga') }}">
                                        <span class="glyphicon glyphicon-tower"></span>
                                        Mon organisation
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('team') }}">
                                        <span class="glyphicon glyphicon-record"></span>
                                        Equipe
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('all_orga') }}">
                                        <span class="glyphicon glyphicon-globe"></span>
                                        Les organisations
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('settings') }}">
                                        <span class="glyphicon glyphicon-cog"></span>
                                        Paramètres
                                    </a>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-md-10 affix-content">
                <div class="page-header">
                    <h1><span class="glyphicon glyphicon-home"></span>
                        {% block pageContentTitle %}Titre{% endblock %}</h1>
                </div>

                {% for type, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ type }} fade in">
                            {{ flash|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block pageContent %}
                {% endblock %}
            </div>
        </div>

        <!-- Confirm Modal -->
        <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">Annuler
                        </button>
                        <button type="button" class="btn btn-primary">
                            Confirmer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
