{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet"
          href="{{ asset('admin/css/style.css') }}">
    <link type="text/css" rel="stylesheet"
          href="{{ asset('admin/css/menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bower_components/select2/dist/css/select2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bower_components/jquery-ui/themes/base/jquery-ui.min.css') }}">
    {#<link rel="stylesheet" type="text/css" href="{{ asset('bower_components/jquery.steps/demo/css/jquery.steps.css') }}">#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('admin/js/dist/script.min.js') }}"></script>
    <script src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bower_components/jquery.steps/build/jquery.steps.min.js') }}"></script>
{% endblock %}

{% macro menuItem(title, route, icon,tooltip = 'hello !', menuSelected, role, pathOptions = {}) %}
    {% if (role == '' or is_granted('ROLE_' ~ role)) %}
        <li class="{% if (menuSelected|default(false)==title or menuSelected|default(false)==route) %}active{% endif %}">
            <a href="{{ path(route, pathOptions) }}" data-toggle="tooltip" data-placement="top" title="{{ tooltip }}" >
                <span class="glyphicon glyphicon-{{ icon }}"></span>
                {{ title }}
            </a>
        </li>
    {% endif %}
{% endmacro %}

{% macro menuItemContext(title,context, route, icon,tooltip = 'hello !', pathOptions = {}) %}
        <li class="{% if context == context_manager.getContext(app.user.sfLink).contextId %}active{% endif %}">
            <a href="{{ path(route, pathOptions) }}" data-toggle="tooltip" data-placement="top" title="{{ tooltip }}" >
                <span class="glyphicon glyphicon-{{ icon }}"></span>
                {{ title }}
            </a>
        </li>
{% endmacro %}


{% block body %}
    {% import _self as admin %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col col-xs-10 col-sm-11">
                    {#<div class="logo-circle style-scope semapps-header">#}
                        {#<a href="/">#}
                            {#<img src="{{ asset('common/images/logo.png') }}" width="100%" height="100%"/>#}
                        {#</a>#}
                    {#</div>#}
                    {#<div class="clearfix"></div>#}
                </div>
                <div class="col col-xs-2 col-sm-1">
                    <div class="logo-circle style-scope semapps-header">
                        <a href="/">
                            <img src="{{ asset('common/images/logo.png') }}" width="100%" height="100%"/>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </header>

    {#<div class="banner-top"#}
         {#style="background-image: url( 'http://placehold.it/1920x200');">#}
    {#</div>#}

    {{ parent() }}
    {% block bodyContent %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="row affix-row">
                <div class="col-sm-3 col-md-2 affix-sidebar">
                    <div class="sidebar-nav">
                        <div class="navbar navbar-default"
                             role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle"
                                        data-toggle="collapse"
                                        data-target=".sidebar-navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                                <ul class="nav navbar-nav" id="sidenav01">
                                    <li class="main">
                                        <h4>
                                            {{ app.user.username }}
                                            <br>
                                            <small>{% if "ROLE_SUPER_ADMIN" in app.user.roles %}Super administrateur{% endif %}</small>
                                            <small>{% if "ROLE_ADMIN" in app.user.roles %}Administrateur{% endif %}</small>
                                            <small>{% if "ROLE_MEMBER" in app.user.roles %}Membre{% endif %}</small>
                                        </h4>
                                    </li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {{ admin.menuItem('layout.logout'|trans({}, 'FOSUserBundle'),'fos_user_security_logout','log-out','Se déconnecter', menuSelected) }}
                                    {% endif %}
                                    {{ admin.menuItem('Paramètres','settings','cog','Changez votre login ou mot de passe', menuSelected) }}
                                    {{ admin.menuItem('Inviter des personnes','invite','envelope','Inviter une personne sur la plateforme !', menuSelected) }}
                                    <li class="main">
                                        <h5>
                                            Vous éditez en tant que :
                                        </h5>
                                    </li>
                                    {{ admin.menuItemContext(app.user.username,"",'changeContext','arrow-right',"Permet d'éditer vos projets, events, propositions... ") }}
                                    {% for context in context_manager.getListOfContext(app.user.sfLink,app.user.id) %}
                                        {{ admin.menuItemContext(context.name,context.contextId,'changeContext','arrow-right',"Permet d'éditer les projets, events, propositions et autres pour l'organisation " ~ context.name,{"context":context.contextId|url_encode}) }}
                                    {% endfor %}
                                    {% if app.user.sfLink %}
                                        {{ admin.menuItem('Nouvelle organisation', 'orgaComponentFormWithoutId', 'plus','Créer une nouvelle organisation', menuSelected, 'MEMBER',{'uniqueComponentName':'organization'}) }}
                                    {% endif %}
                                    <li class="main">
                                        <h5>
                                            Les formulaires
                                        </h5>
                                    </li>
                                    {{ admin.menuItem('Mon profil', 'personComponentFormWithoutId', 'user','Editez votre profil perso', menuSelected, 'MEMBER',{'uniqueComponentName':'person'}) }}
                                    {% if context_manager.getContext(app.user.sfLink).contextName %}
                                        {{ admin.menuItem(context_manager.getContext(app.user.sfLink).contextName, 'orgaComponentForm', 'tower','Editez votre organisation', menuSelected, 'MEMBER',{'uniqueComponentName':'organization','id' : context_manager.getContext(app.user.sfLink).contextId|url_encode}) }}
                                    {% endif %}

                                    {% if app.user.sfLink or context_manager.getContext(app.user.sfLink).contextName %}
                                        {{ admin.menuItem('Projets', 'componentList', 'screenshot','Référencez vos projets ', menuSelected, 'MEMBER',{'componentName':'project'}) }}
                                        {{ admin.menuItem('Evénements', 'componentList', 'calendar','Référencez vos événements', menuSelected, 'MEMBER',{'componentName':'event'}) }}
                                        {{ admin.menuItem('Proposition', 'componentList', 'info-sign','Faites des propositions', menuSelected, 'MEMBER',{'componentName':'proposal'}) }}
                                        {{ admin.menuItem('Document', 'componentList', 'folder-open','référencer des documents', menuSelected, 'MEMBER',{'componentName':'document'}) }}
                                        {% endif %}
                                    {% if app.user.sfLink or context_manager.getContext(app.user.sfLink).contextName %}
                                    <li class="main">
                                        <h5>
                                            Gestion des types
                                        </h5>
                                    </li>
                                        {{ admin.menuItem('Type de document', 'thesaurusList', 'pushpin','référencer des types de documents', menuSelected, 'MEMBER',{'componentName':'documentType'}) }}
                                        {{ admin.menuItem('Type d\'organisation', 'thesaurusList', 'pushpin','référencer des types d\'organisation', menuSelected, 'MEMBER',{'componentName':'organizationType'}) }}
                                        {{ admin.menuItem('Type de projet', 'thesaurusList', 'pushpin','référencer des types de projet', menuSelected, 'MEMBER',{'componentName':'projectType'}) }}
                                        {{ admin.menuItem('Type d\'événement', 'thesaurusList', 'pushpin','référencer des types d\'événnement', menuSelected, 'MEMBER',{'componentName':'eventType'}) }}
                                        {{ admin.menuItem('Type de proposition', 'thesaurusList', 'pushpin','référencer des types de proposition', menuSelected, 'MEMBER',{'componentName':'proposalType'}) }}
                                    {% endif %}
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <li class="main">
                                            <h5>
                                                Administration
                                            </h5>
                                        </li>
                                    {% endif %}
                                    {{ admin.menuItem('Les organisations', 'organizationList', 'globe','Ajoutez de nouvelle organisation', menuSelected, 'SUPER_ADMIN') }}
                                    {{ admin.menuItem('Les utilisateurs', 'userList', 'user','gérer les utilisateurs', menuSelected, 'SUPER_ADMIN') }}


                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-10 affix-content">
                    <div class="page-content">
                        <div class="page-header">
                            <h1><span class="glyphicon glyphicon-home"></span>
                                {% block pageContentTitle %}Titre{% endblock %}
                            </h1>
                        </div>
                        {% for name,message in special_alert  %}
                            <div class="alert alert-info fade in">
                                <b>{{ name }} :</b>  {{ message }}
                            </div>
                        {% endfor %}
                        {% for type, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ type }} fade in">
                                    {{ flash|raw }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {% block pageContent %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <!-- Confirm Modal -->
            <div class="modal fade" id="modalConfirm" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Annuler
                            </button>
                            <button type="button" class="btn btn-primary">
                                Confirmer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    <footer >
        <div class="about-av">

            <br>Cette plateforme est propulsée par <a href="https://www.virtual-assembly.org/semapps/">SemApps</a>, logiciel libre sous licence GPL, développé par l'<a href="https://www.virtual-assembly.org"
                                                                                                                                                      target="_blank">Assemblée Virtuelle</a>
            <br><a href="https://www.virtual-assembly.org/faire-un-don/"
                   target="_blank">Cliquez ici pour soutenir le projet</a>
            <br>Pour toute question, contactez nous sur
            <a href="mailto:contact@assemblee-virtuelle.org" target="_blank">contact@assemblee-virtuelle.org</a>
            <br><a href="https://github.com/assemblee-virtuelle/Semapps" target="_blank">Accédez au code sur GitHub</a>
        <br>
        <br>
        2017
        </div>

    </footer>
    <div id="loadingPageSpin">
        <div class="spinner">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
                 class="uil-ring-alt">
                <rect x="0" y="0" width="100" height="100" fill="none"
                      class="bk"></rect>
                <circle cx="50" cy="50" r="40" stroke="rgba(255,255,255,.3)"
                        fill="none"
                        stroke-width="10" stroke-linecap="round"></circle>
                <circle cx="50" cy="50" r="40" stroke="#ffcc00" fill="none"
                        stroke-width="6" stroke-linecap="round">
                    <animate attributeName="stroke-dashoffset" dur="2s"
                             repeatCount="indefinite" from="0"
                             to="502"></animate>
                    <animate attributeName="stroke-dasharray" dur="2s"
                             repeatCount="indefinite"
                             values="150.6 100.4;1 250;150.6 100.4"></animate>
                </circle>
            </svg>
            <h3>Chargement...</h3>
        </div>
    </div>
{% endblock %}
