{% extends "::admin.html.twig" %}

{% block title %}GrandsVoisinsBundle:Organisation:home{% endblock %}

{% block pageContentTitle %}Mon organisation{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% set menuSelected = 'detail_orga' %}

{% import 'GrandsVoisinsBundle:Macro:form.html.twig' as formField %}

{% block pageContent %}
    {{ parent() }}
    <br>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            {{ form_start(picture, {'attr':{'id':'organisationPictureForm'}}) }}
            <a href="#" id="organisationPicture" class="thumbnail">
                {% if OrganisationPicture != null or organisation.thumbnail == null %}
                    <img src="{{ asset(OrganisationPicture == null ? 'common/images/no_avatar.jpg' : 'uploads/pictures/'~OrganisationPicture) | imagine_filter('organisation') }}"/>
                {% else  %}
                    <img src="{{ organisation.thumbnail }}">
                {% endif %}
                <span id="organisationEditPictureField">
                {{ form_errors(picture) }}
                    {{ form_widget(picture.OrganisationPicture) }}
                    {{ form(picture) }}
            </span>
            </a>
            {{ form_end(picture) }}
        </div>

    <form action="{{ path('save_orga') }}" method="post" id="form" class="col-sm-6 sf-standard-form">
        <input name="url" value="{{ organisation.url }}" type="hidden">
        <input name="uri" value="{{ organisation.uri }}" type="hidden">
        <input name="graphURI" value="{{ graphURI }}" type="hidden">
        <input name="edit" value="{{ edit }}" type="hidden">
        {{ formField.input(organisation.fields[property.type],property.type,'hidden') }}
        {{ formField.input(organisation.fields[property.img],property.img,'hidden') }}
        {{ formField.input(organisation.fields[property.membres],property.membres,'hidden') }}
        <div class="form-group col col-xs-12">
            <div class="row">
                <div class="form-group col-xs-6">
                    {{ formField.input(organisation.fields[property.nom],property.nom) }}
                </div>
                <div class="form-group col-xs-6">
                    {{ formField.input(organisation.fields[property.nomAdministratif],property.nomAdministratif) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    {{ formField.input(organisation.fields[property.batiment],property.batiment,'collection',organisation.fields[property.batiment].comment,building) }}
                </div>
            </div>
            {% for key, field in organisation.fields %}
                {% if key not in property %}
                    <div class="row">
                        <div class="form-group col-xs-12">
                            {{ formField.input(field,key,field.widgetType|lower|split(' ')[0]) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <input class="btn btn-primary-lgv pull-right" type="submit"
                   value="sauvegarder">
        </div>
    </form>
    </div>
{% endblock %}







