{% extends "::admin.html.twig" %}

{% block title %}GrandsVoisinsBundle:Organisation:home{% endblock %}

{% block pageContentTitle %}Mon organisation{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/js/form/wikipedia.js') }}"></script>
    <script src="{{ asset('admin/js/form/formInteractions.js') }}"></script>
{% endblock %}

{% set menuSelected = 'detail_orga' %}

{% block pageContent %}
    {{ parent() }}
    <br>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            {{ form_start(picture, {'attr':{'id':'organisationPictureForm'}}) }}
            <a href="#" id="organisationPicture" class="thumbnail">
                <img src="{{ asset(OrganisationPicture == null ? 'common/images/no_avatar.jpg' : 'uploads/pictures/'~OrganisationPicture) | imagine_filter('organisation') }}"/>
                <span id="organisationEditPictureField">
                {{ form_errors(picture) }}
                    {{ form_widget(picture.OrganisationPicture) }}
                    {{ form(picture) }}
            </span>
            </a>
            {{ form_end(picture) }}
        </div>

    <form action="{{ path('save_orga') }}" method="post" id="form" class="col-sm-6 sf-standard-form">
        <input name="url" value="{{ organisation.subject }}" type="hidden">
        <input name="uri" value="{{ organisation.subject }}" type="hidden">
        <input name="graphURI" value="{{ graphURI }}" type="hidden">
        <input name="edit" value="{{ edit }}" type="hidden">
        {% set temp ='' %}

        {% for field in organisation.fields %}
            {% set cardinality = field.cardinality|split(':') %}
            {% if is_granted('ROLE_EDITOR') %}
                <div class="form-group col col-lg-12">
                    <div class="col-lg-4">
                        {% if field.label != temp %}
                            <label for="{{ field.label }}"
                                   data-uri-property="{{ field.property }}">{{ field.label }}</label>
                        {% else %}
                            <label for="{{ field.label }}" data-uri-property="{{ field.property }}">--</label>
                        {% endif %}
                    </div>
                    <div class="col-xs-11 sf-value-block">

                        {% if( field.label|lower == 'type') %}
                            <input class="form-control" type="url"
                                   name="%3C{{ organisation.subject }}%3E+%3C{{ field.property }}%3E+%3C{{ field.value }}%3E+."
                                   value="{{ field.value }}">
                        {% elseif( field.label|lower == 'image') %}
                            <input class="form-control ref"
                                   type="hidden"
                                   placeholder="http://..."
                                   name="{{ field.htmlName }}"
                                   value="{{ urlPicture }}">
                            <a href="{{ urlPicture }}">{{ urlPicture }}</a>
                        {% else %}


                                {% if( field.widgetType|lower|split(' ')[0] == 'uri') %}
                                    <input class="form-control ref"
                                           type="url"
                                           placeholder="http://..."
                                           name="{{ field.htmlName }}"
                                           value="{{ field.value }}" {% if cardinality[0] == "1" %}required="required"{% endif %}>
                                {% elseif ( field.widgetType|lower|split(' ')[0] == 'text') %}
                                    <input class="form-control ref"
                                           type="text"
                                           placeholder="texte..."
                                           name={{ field.htmlName }} value="{{ field.value }}" {% if cardinality[0] == "1" %}required="required"{% endif %}">

                                {% else %}
                                    <input class="hasLookup form-control ui-autocomplete-input ref"
                                           type="url"
                                           placeholder="DBPedia..."
                                           name="{{ field.htmlName }}"
                                           value="{{ field.value }}" {% if cardinality[0] == "1" %}required="required"{% endif %}">
                                {% endif %}


                        {% endif %}



                    </div>
                    <div class="col-xs-1">
                        {% if cardinality[1]=="*" and field.label != temp %}
                            <button type="button"
                                    class="btn btn-primary add-widget"
                                    readonly="yes"
                                    size="1"
                                    title="Add another value for label">add line
                            </button>
                            {% set temp =field.label %}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="{{ field.label }}" data-uri-property="{{ field.property }}">{{ field.label }}</label>
                    {% if( field.label|lower == 'type') %}
                        <input class="form-control" type="url"
                               name="%3C{{ organisation.subject }}%3E+%3C{{ field.property }}%3E+%3C{{ field.value }}%3E+."
                               value="{{ field.value }}" disabled="disabled">
                    {% else %}
                        {% if( field.widgetType|lower|split(' ')[0] == 'uri') %}
                            <input class="form-control" type="url" name="{{ field.htmlName }}" value="{{ field.value }}"
                                   disabled="disabled">
                        {% else %}
                            <input class="form-control" type="{{ field.widgetType|lower|split(' ')[0] }}"
                                   name={{ field.htmlName }} value="{{ field.value }}" disabled="disabled">
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <input class="btn btn-primary-lgv pull-right" type="submit" value="sauvegarder">
    </form>
    </div>
{% endblock %}







