{% extends "semappsBundle:Component:componentForm.html.twig" %}

{% block pageContentTitle %}Ajouter une proposition {{ (context_manager.getContext(app.user.sfLink).contextName)? "de la part de " ~ context_manager.getContext(app.user.sfLink).contextName : 'personnel'}}{% endblock %}

{%  set menuSelected = 'Proposition' %}

{% block formContent %}
    {{ parent() }}
    {#<div class="row"> to be removed#}
    <div class="row">
        <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 formEditAvatar">
            <a href="#" id="profilePicture" class="thumbnail" data-toggle="tooltip" data-placement="bottom" title="Cliquez ici pour télécharger une image (2Mo max !)">
                <img src="{{ asset(image == null ? 'common/images/no_avatar.png' : 'uploads/pictures/'~image) | imagine_filter('profile') }}"/>
                <span id="profileEditPictureField">
                       {{ form_widget(form.componentPicture) }}
                </span>
            </a>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.preferedLabel, { 'label': 'Nom'}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.alternativeLabel) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.hasType, { 'label': 'Type de proposition'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.comment, { 'label': 'Description en une phrase'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.hasSubjectPAIR, { 'label': 'Concerne'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ form_row(form.hasInterest, { 'label': "Domaines thématiques"}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.hasSubject) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.brainstormedBy, { 'label': 'Auteurs de la proposition (Personnes ou organisations)'}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.documentedBy, { 'label': 'Documents descriptifs'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.accessWrite, { 'label': 'partager en écriture avec'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.accessRead, { 'label': 'partager en lecture avec'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.isPublic, { 'label': 'partager avec tous le monde ?'}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.isProtected, { 'label': 'partager avec tous les membres de ce site ?'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.save, {attr:{class:'btn btn-primary-lgv pull-right'}}) }}
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            {% embed "alertBobby.html.twig" %}
                {% block title %}Les propositions {% endblock %}
                {% block content %}
                    <p>
                        Vous pouvez éditer une proposition :
                    </p>
                    <ul>
                        <li>En tant que Personne</li>
                        <li>Ou en tant qu'Organisation si vous avez des droits d'administration sur cette dernière.</li>
                    </ul>
                    <p>
                        Si vous n'avez pas de droits d'édition sur une organisation, demandez en un à l'un de ses responsables
                    </p>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
