{% extends "GrandsVoisinsBundle:Component:componentForm.html.twig" %}

{% block pageContentTitle %}Ajouter un événement{% endblock %}

{% set menuSelected = 'eventList' %}

{% block formContent %}
    {{ parent() }}

    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.label, { 'label': 'Nom de l\'événement'}) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.mbox, { 'label': 'E-mail de contact'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.building) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.room) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.eventBegin) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.eventEnd) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.shortDescription, { 'label': 'Description courte' }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_row(form.description) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ form_row(form.maker, { 'label': 'Organisateur(s) de l\'événement (personnes ou organisations)'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{  form_row(form.thesaurus, { 'label': 'Domaine(s) d\'activité(s)'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ form_row(form.topicInterest, { 'label': 'Centres d\'intérêts'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.resourceProposed, { 'label': 'Ressources que l\'événement met à disposition'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.resourceNeeded, { 'label': 'Ressources dont l\'événement a besoin'}) }}
        </div>
    </div>
{% endblock %}
