{% extends "GrandsVoisinsBundle:Component:componentForm.html.twig" %}

{% block pageContentTitle %}Ajouter un projet{% endblock %}

{% set menuSelected = 'projectList' %}

{% block formContent %}
    {{ parent() }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.label, { 'label': 'Nom du projet'}) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.projectStart) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.building) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.room) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.homepage) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.mbox, { 'label': 'E-mail de contact'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.shortDescription, { 'label': 'Description courte' }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" data-toggle="tooltip" data-placement="bottom" title="Elles doivent à avoir renseigné leur profil au préalable ;-) ">
            {{ form_row(form.head, { 'label': 'Responsable(s) du projet (personnes ou organisations)'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" data-toggle="tooltip" data-placement="bottom" title="Elles doivent à avoir renseigné leur profil au préalable ;-) ">
            {{ form_row(form.maker, { 'label': 'Contributeurs (personnes ou organisations)'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{  form_row(form.thesaurus, { 'label': 'Domaine(s) d\'activité(s)'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" data-toggle="tooltip" data-placement="bottom" title="Saisissez des termes en anglais (temporaire) - Petite précision, vous renseignez des termes issus de wikipedia !">
            {{ form_row(form.resourceProposed, { 'label': 'Ressources que le projet met à disposition'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" data-toggle="tooltip" data-placement="top" title="Saisissez des termes en anglais (temporaire) - Petite précision, vous renseignez des termes issus de wikipedia !">
            {{ form_row(form.resourceNeeded, { 'label': 'Ressources dont le projet a besoin'}) }}
        </div>
    </div>
{% endblock %}
