{% extends "GrandsVoisinsBundle:Component:componentForm.html.twig" %}

{% block pageContentTitle %}Ajouter une proposition{% endblock %}

{%  set menuSelected = 'propositionList' %}

{% block formContent %}
    {{ parent() }}

    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.label) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.mbox) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_row(form.fundedBy) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_row(form.description) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.building) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.room) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ form_row(form.topicInterest) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.resourceProposed) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.resourceNeeded) }}
        </div>
    </div>
{% endblock %}
