{% extends "::admin.html.twig" %}

{% block title %}GrandsVoisinsBundle:form:home{% endblock %}

{% block pageContentTitle %}{{ title }}{% endblock %}

{% set menuSelected = 'show_all_component' %}

{% block pageContent %}
    {{ parent() }}
    {% for key,type in data %}
        <h2>{{ key }} --
            <a href="{{ path('new_component', {'type': key })}}"> Créer un nouveau {{ key }}</a></h2>
        <table class="table table-bordered" >
        {% if type is not null %}
            {% for value in type %}
                <tr>
                    <td class="padded-value" style="width:30%">
                        {{ value["NAME"]["value"] }}
                    </td>
                    <td class="padded-value" style="width:30%">
                        {{ value["URI"]["value"] }}
                    </td>

                    <td class="padded-value" style="width:30%">
                        <form action="{{ url('show_component') }}" method="POST" >
                            <input type="hidden" name="uri" value="{{ value["URI"]["value"] }}">
                            <input type="hidden" name="name" value="{{ value["NAME"]["value"] }}">
                            <input type="submit" value="Editer" class="btn btn-primary-lgv pull-left">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </table>
    {% endfor %}

{% endblock %}
