{% trans_default_domain 'FOSUserBundle' %}
<form id="login-form"
      action="{{ path("fos_user_security_check") }}"
      method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if csrf_token %}
        <input class="form-control" type="hidden"
               name="_csrf_token"
               value="{{ csrf_token }}"/>
    {% endif %}

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input class="form-control" placeholder="MyPseudo"
           type="text"
           id="username" name="_username"
           value="{{ last_username }}"
           required="required"/>

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input class="form-control" placeholder="Password"
           type="password"
           id="password" name="_password" required="required"/>

    <div class="checkbox">
        <label for="remember_me"><input type="checkbox"
                                        id="remember_me"
                                        name="_remember_me"
                                        value="on"/> {{ 'security.login.remember_me'|trans }}
        </label>
    </div>

    <input class="form-control btn btn-primary-lgv"
           type="submit"
           id="_submit" name="_submit"
           value="{{ 'security.login.submit'|trans }}"/>
    <br/>
    <br/>
    <a href="{{ url('fos_user_resetting_request') }}">Mot de
        passe
        oublié ?</a>
    <a href="{{ url('register') }}">
        Créer un compte ?
    </a>
</form>