{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet"
          href="{{ asset('admin/css/style.css') }}">
    <link type="text/css" rel="stylesheet"
          href="{{ asset('admin/css/menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/semapps/bower_components/select2/dist/css/select2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/semapps/bower_components/jquery-ui/themes/base/jquery-ui.min.css') }}">
    {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/semapps/bower_components/jquery.steps/demo/css/jquery.steps.css') }}">#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/semapps/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('admin/js/dist/script.min.js') }}"></script>
    <script src="{{ asset('bundles/semapps/bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/semapps/bower_components/jquery.steps/build/jquery.steps.min.js') }}"></script>
{% endblock %}
{% block body %}
    {{ parent() }}

    <div class="container-fluid container-auth">
        <div class="row">
            <div class="col col-sm-4 col-sm-offset-4">
                <div class="block-banner-overflow">
                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }} fade in">
                                    {{ message|raw }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    <!-- Auth -->
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.container-auth').css({ 'height': $(window).height() });
        $(window).on('resize', function() {
            $('.container-auth').css({ 'height': $(window).height() });
             $('body').css({ 'width':  $(window).width()})
        });
    </script>
{% endblock %}
