{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="username" required="required" {% if(app.request.query.get("email")) %}value="{{app.request.query.get("email")}}"{% endif %} />
    </div>
    <div>
        <br/>
        <input type="submit" class="form-control btn btn-primary-lgv" value="{{ 'resetting.request.submit'|trans }}" />
        <br>
        <br>
        <a href="{{ url('fos_user_security_login') }}">Connexion</a>
    </div>
</form>
