{% extends "mmmfestBundle:Component:componentForm.html.twig" %}

{% block pageContentTitle %}Ajouter un document{% endblock %}

{%  set menuSelected = 'documentList' %}

{% block formContent %}
    {{ parent() }}
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.preferedLabel, { 'label': 'Nom'}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.alternativeLabel) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.comment, { 'label': 'Description en une phrase'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.hasType, { 'label': 'Type de document'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.homePage, { 'label': 'Lien vers le document'}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.aboutPage) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.references) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.documents) }}
                </div>
            </div>

        </div>
        <div class="col col-sm-4">
            {% embed "alertBobby.html.twig" %}
                {% block title %}Les documents{% endblock %}
                {% block content %}
                    <p>Vous pouvez ici renseigner le #CodeSocial de votre projet. Et éventuellement partager d’autres documents autour de votre activité ou de vos centres d’intérêts … </p>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
