{% extends "mmmfestBundle:Component:componentForm.html.twig" %}

{% block pageContentTitle %}Ajouter un événement{% endblock %}

{% set menuSelected = 'eventList' %}

{% block formContent %}
    {{ parent() }}
    <div class="row">
        <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <a href="#" id="componentPicture" class="thumbnail" data-toggle="tooltip" data-placement="bottom" title="Pour mettre une image, veuillez coller le lien dans le champ image ci-dessous !">
                <img id="componentPicture" src="{{ (image != "" ? image : asset('common/images/no_avatar.jpg') )}}"/>
            </a>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.preferedLabel, { 'label': 'Nom'}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.alternativeLabel, { 'label': 'Autre nom'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"  id="componentImage">
                    {{ form_row(form.image, { 'attr' : {'class' : 'component-new-picture'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.comment) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.aboutPage, { 'label': 'Autres liens'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.startDate, { 'label': 'Date de début'}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.endDate) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.localizedBy, { 'label': 'Localisation de l’atelier'}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.representedBy) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.documentedBy) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.hasInterest, { 'label': 'Domaine(s) thématique(s)'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.hasSubject, { 'label': 'Mots-clés'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.organizedBy) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.hasParticipant) }}
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            {% embed "alertBobby.html.twig" %}
                {% block title %}Les événements{% endblock %}
                {% block content %}
                    <p>Outre l’atelier auquel vous participez dans le cadre du MMM fest, vous pouvez créer d’autres événements que vous organisez dans d’autres contextes,
                        cela vous permettra de faire un peu de pub :-)
                    </p>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
