{% extends "mmmfestBundle:Component:componentForm.html.twig" %}

{% block pageContentTitle %}Ajouter un projet{% endblock %}

{% set menuSelected = 'projectList' %}

{% block formContent %}
    {{ parent() }}
    <div class="row">
        <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <a href="#" id="componentPicture" class="thumbnail" data-toggle="tooltip" data-placement="bottom" title="Pour mettre une image, veuillez coller le lien dans le champ image ci-dessous !">
                <img id="componentPicture" src="{{ (image != "" ? image : asset('common/images/no_avatar.jpg') )}}"/>
            </a>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.preferedLabel) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.alternativeLabel) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.comment) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.homePage) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.aboutPage) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.concretizes) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.managedBy) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.representedBy) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.documentedBy) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.hasSubject) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.needs) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.involves) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
