{% extends "mmmfestBundle:Component:componentForm.html.twig" %}

{% block pageContentTitle %}Ajouter une propositions pour la prochaine édition{% endblock %}

{%  set menuSelected = 'proposalList' %}

{% block formContent %}
    {{ parent() }}
    <div class="row">
        <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <a href="#" id="componentPicture" class="thumbnail" data-toggle="tooltip" data-placement="bottom" title="Pour mettre une image, veuillez coller le lien dans le champ image ci-dessous !">
                <img id="componentPicture" src="{{ (image != "" ? image : asset('common/images/no_avatar.jpg') )}}"/>
            </a>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.preferedLabel, { 'label': 'Nom'}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.alternativeLabel, { 'label': 'Autre nom'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"  id="componentImage">
                    {{ form_row(form.image, { 'attr' : {'class' : 'component-new-picture'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.comment) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.homePage, { 'label': 'Site web'}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.aboutPage, { 'label': 'Autres liens'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.brainstormedBy, { 'label': 'Personnes et/ou organisations à l’origine de la proposition'}) }}
                </div>
            </div>
            {#<div class="row">#}
                {#<div class="col-sm-12">#}
                    {#{{ form_row(form.representedBy) }}#}
                {#</div>#}
            {#</div>#}
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.documentedBy, { 'label': 'Documents descriptifs du projet (Code Social, présentations etc)'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.hasSubject, { 'label': 'Mots-clés'}) }}
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            {% embed "alertBobby.html.twig" %}
                {% block title %}Les propositions pour la prochaine édition{% endblock %}
                {% block content %}
                    <p>Si vous avez des suggestions pour la prochaine édition du festival, n’hésitez pas à les partager ici !</p>

                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
