{% extends "::admin.html.twig" %}

{% block title %}mmmfest  | profil{% endblock %}

{% block pageContentTitle %}Mon profil{% endblock %}

{% set menuSelected = 'fos_user_profile_show' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block pageContent %}
    {{ parent() }}
    <div class="container">
        {% if entityUri %}
            <ul class="nav nav-tabs">
                <li role="presentation" class="active pull-right">
                    <a target="_blank" href="/detail?uri={{ entityUri }}"><span
                                class="glyphicon glyphicon-eye-open"></span>
                        Voir</a>
                </li>
            </ul>
            <br>
        {% endif %}

        <div class="row">
            {% if importForm is not null %}
                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa "></i> Créer un profile</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa"></i> Importer son profile</a>
                    </li>
                </ul>
            {% endif %}
            {% if importForm is not null %}
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    {% endif %}
                    {{ form_start(form) }}
                    <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 formEditAvatar">
                        {% if form is not null %}
                            <a href="#" id="profilePicture" class="thumbnail" data-toggle="tooltip" data-placement="bottom" title="Cliquez ici pour télécharger une image (2Mo max !)">
                                <img src="{{ asset(app.user.getPictureName() == null ? 'common/images/no_avatar.jpg' : 'uploads/pictures/'~app.user.pictureName) | imagine_filter('profile') }}"/>
                                <span id="profileEditPictureField">
                        {{ form_widget(form.pictureName) }}
                    </span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">

                        <div class="row">
                            <div class="col-xs-4">
                                {{ form_row(form.firstName, { 'label': 'Prénom'}) }}
                            </div>
                            <div class="col-xs-4">
                                {{ form_row(form.lastName, { 'label': 'Nom'}) }}
                            </div>
                            <div class="col-xs-4">
                                {{ form_row(form.alias) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(form.description) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(form.homePage, { 'label': 'Site web'}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(form.aboutPage, { 'label': 'Autres sites'}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                {{ form_row(form.phone) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(form.hasInterest, { 'label': "Vos centres d'intérêts"}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(form.knows, { 'label': 'Vos amis sue le festival'}) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(form.affiliatedTo, { 'label': 'Organisation(s)dont vous faites partie'}) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12" data-toggle="tooltip" data-placement="bottom" title="Saisissez des termes en anglais (temporaire) - Petite précision, vous renseignez des termes issus de wikipedia !">
                                {{ form_row(form.offers, { 'label': 'Ce que vous proposez'}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" data-toggle="tooltip" data-placement="bottom" title="Saisissez des termes en anglais (temporaire) - Petite précision, vous renseignez des termes issus de wikipedia !">
                                {{ form_row(form.needs, { 'label': 'Ce dont vous avez besoin'  }) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(form.save, {attr:{class:'btn btn-primary-lgv pull-right'}}) }}
                            </div>
                        </div>
                    {#{{ form_widget(form) }}#}
                </div>
                    {{ form_end(form) }}
                    {% if importForm is not null %}
                </div>
                <div class="tab-pane fade" id="service-two">
                    {{ form_start(importForm) }}
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                {{ form_row(importForm.import, { 'label': 'import', attr:{class:'form-control'} }) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(importForm.save, {attr:{class:'btn btn-primary-lgv pull-right'}}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(importForm) }}
                </div>
            </div>
            {% endif%}
            <div class="col col-sm-4">
                {% embed "alertBobby.html.twig" %}
                    {% block title %}Qui es-tu ?{% endblock %}
                    {% block content %}
                        <p>Voici la question à laquelle nous te proposons de répondre … Pas facile hein ? :-)</p>

                        <p>Tu es libre de remplir les champs que tu veux, les numéros de téléphone et mail ne sont pas publics, ils ne sont partagés qu’entre les festivaliers ...
                        </p>

                        <p>Petite info : Plus tu renseigneras ton profil, plus
                            tu auras de chances de te faire des amis ! </p>
                        <p>Et n'oublie pas : To be Bobby or not Bobby, that is
                            the question ... </p>
                        <p>/!\ ATTENTION /!\ : Pour ceux qui décident d'importer leur profile,
                            toutes les modifications ne toucherons pas la source de vos données !
                            Toute modification restera locale, c'est-à-dire visible sur ce site</p>


                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}

