{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    {{ form_start(form) }}
    <div id="register-form" style="background-color: white">
        <h3>Keyboard</h3>
        <section>
            <div class="row">
                <div class="col-xs-12 ">
                    <h2>Information de connexion</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 ">
                    {{ form_row(form.username, {'attr' : {'class' : 'form-control'}}) }}
                </div>
                <div class="col-xs-6 ">
                    {{ form_row(form.email, {'attr' : {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 ">
                    {{ form_row(form.password, {'attr' : {'class' : 'form-control'}}) }}
                </div>
                <div class="col-xs-6 ">
                    {{ form_row(form.confPassword, {'attr' : {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12  form-group">
                    {{ form_row(form.organisation, {'attr' : {'class' : 'form-control'}}) }}
                </div>
            </div>
        </section>
        {% for i in 1..7 %}
        <h3>Keyboard</h3>
        <section>

            <div class="row">
                <div class="col-xs-12 ">
                    <h2>Concernant les repas du {{ title[i-1] }} </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12  ">
                    {{ form_row(form["matin"~i], {'label':'Miamerez vous au petit déjeuner ?'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12  ">
                    {{ form_row(form["midi"~i], {'label':'Miamerez vous au  déjeuner ?'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 ">
                    {{ form_row(form["soir"~i], {'label':'Miamerez vous au diner ?'}) }}
                </div>
            </div>
        </section>
        {% endfor %}
        <h3>Keyboard</h3>
        <section>
            <div class="row">
                <div class="col-xs-12 ">
                    <h2>Fin de l'inscription</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12  form-group">
                    {{ form_row(form.codeSocial, {'label':'En cochant cette case, je reconnais avoir lu et validé le code social du MMM Fest'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12  form-group">
                    {{ form_row(form.membreAv, {'label':'En cochant cette case, j’adhère en tant que membre bienfaiteur à l’association Assemblée Virtuelle'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 ">
                    {{ form_row(form.submit, {'attr' : {'class' : ' form-control btn btn-primary-lgv pull-right'}}) }}
                </div>
            </div>
        </section>
    </div>
    {{ form_end(form) }}
    <br/>
    <a href="{{ url('fos_user_security_login') }}">
        Connexion
    </a>
{% endblock fos_user_content %}

{% block bobby %}
    <div class="col col-sm-6 col-sm-offset-1">
        <div class="block-banner-overflow-transparent">
            {% embed "alertBobby.html.twig" %}
                {% block title %}Bonjour à toi et bienvenue au MMM Fest !
                {% endblock %}
                {% block content %}
                    <p>Je m’appelle Bobby, et je te souhaite la bienvenue au MMM Fest !
                    </p>

                    <h3>Organiser un workshop (date limite des inscriptions Lundi 18 septembre)</h3>

                    <p>Tu représentes un collectif et vous souhaitez organiser un workshop dans le cadre du MMM Fest pour accélérer votre projet ? C’est une excellente idée ! Pour cela, il est nécessaire :</p>
                    <ul>
                        <li>De lire le code social de l’événement qui en décrit l’esprit et les grands principes de fonctionnement.</li>
                        <li>De décrire votre projet en utilisant le formulaire <a href="https://docs.google.com/document/d/1JevSlK4lx-ZJ5w0Mxcnsx9L6pj0YdTnOqe4ohehXQ5U/edit?usp=sharing" target="_blank">ci-joint</a></li>
                        <li>Et de l’envoyer par mail à l’équipe du festival : bonjour@mmmfest.fr</li>
                        <li>Nous te dirons dans la foulée si votre projet nous semble compatible avec l’esprit de l’événement (il y a de grandes chances !)</li>
                        <li>Si oui, nous créerons le workshop et l’organisation référente de ce workshop sur la plateforme ce qui vous validera votre inscription sur le festival.</li>
                        <li>Tu pourras ensuite inviter les participants à ton workshop en leur transmettant ce lien : http://mmmfest.fr/login</li>
                    </ul>
                    <p>ATTENTION : Cette première édition est limitée à 150 personnes ;-)</p>

                    <h3>Participer à l'évènement (date limite des inscriptions Lundi 25 septembre)</h3>

                    <p>Tu souhaites participer à l’événement ? C’est une très bonne nouvelle ! Pour cela, il existe 2 possibilités :</p>
                    <ul>
                        <li>Devenir bénévole et ainsi contribuer à cette superbe aventure :-) Envoie nous un mail à bonjour@mmmfest.fr</li>
                        <li>Participer à l’un des ateliers qui aura lieu sur le festival.
                            <ul>
                                <li>Si tu es déjà invité, inscris toi et remplis ton profil sur http://mmmfest.fr/login</li>
                                <li>Si ce n’est pas le cas, rapproche toi des référents de l’atelier qui t’intéresse pour voir si c’est possible.</li>
                            </ul>
                        </li>
                    </ul>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
    <script>

    </script>
{% endblock bobby %}
