{% extends "::admin.html.twig" %}

{% block pageContentTitle %}Paramètres{% endblock %}

{% set menuSelected = 'settings' %}

{% block pageContent %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        <div class="row">
            <div class="col col-sm-8">
                <h2>Changer de mot de passe et/ou de login</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-8">
                {{ form_label(form.username, "Login") }}
                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col col-sm-8">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
                {{ form_label(form.passwordNew) }}
                {{ form_widget(form.passwordNew, { 'attr': {'class': 'form-control'} }) }}
                {{ form_label(form.passwordNewConfirm) }}
                {{ form_widget(form.passwordNewConfirm, { 'attr': {'class': 'form-control'} }) }}
                <br>
                {{ form_widget(form.submit, {'attr':{'class':'btn btn-primary-lgv'}}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    {% if app.user.repas is null %}
    {{ form_start(formFood) }}
    {{ form_errors(formFood) }}
    <div class="formFood-group">
        <div class="row">
            <div class="col col-sm-8">
                <h2>Repas</h2>
            </div>
        </div>
    </div>

    <div class="formFood-group">
        <div class="row">
            <div class="col-sm-12">
                <table  class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>Mangerez vous au petit déjeuner ?</th>
                        <th>Mangerez vous au déjeuner ?</th>
                        <th>Mangerez vous au diner ?</th>
                    </tr>

                    {% for i in 1..title|length %}
                        <tr>
                            <th>{{ title[i-1] }}</th>
                            <td>{{ form_row(formFood["matin"~i], {'label':false}) }}</td>
                            <td>{{ form_row(formFood["midi"~i], {'label':false}) }}</td>
                            <td>{{ form_row(formFood["soir"~i], {'label':false}) }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col col-sm-8">
            {{ form_row(formFood.isveg, {'label':'Etes-vous végétarien ?'}) }}
        </div>
        <div class="col col-sm-8">
            {{ form_widget(formFood.submit, {'attr':{'class':'btn btn-primary-lgv'}}) }}
        </div>
    </div>
    {{ form_end(formFood) }}
    {% endif %}
{% endblock %}
