{% extends "::admin.html.twig" %}

{% block title %}GrandsVoisinsBundle:Organization:home{% endblock %}

{% block pageContentTitle %}Mon organisation{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% set menuSelected = 'detail_orga' %}

{% import 'GrandsVoisinsBundle:Macro:form.html.twig' as formField %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block pageContent %}
    {{ parent() }}
    <div class="container">
        {% if entityUri %}
            <ul class="nav nav-tabs">
                <li role="presentation" class="active pull-right">
                    <a target="_blank" href="/detail?uri={{ entityUri }}"><span
                                class="glyphicon glyphicon-eye-open"></span>
                        Voir</a>
                </li>
            </ul>
            <br>
        {% endif %}
        <div class="row">
            {{ form_start(form) }}
            <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 formEditAvatar">
                {% if form is not null %}
                    <a href="#" id="profilePicture" class="thumbnail">
                        <img src="{{ asset(organization.getOrganisationPicture() == null ? 'common/images/no_avatar.jpg' : 'uploads/pictures/'~organization.getOrganisationPicture()) | imagine_filter('organisation') }}"/>
                    <span id="profileEditPictureField">
                        {{ form_widget(form.organisationPicture) }}
                    </span>
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.name, { 'label': 'Nom'}) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.administrativeName) }}
                    </div>
                </div>

                {% if form.arrivalDate is defined  %}
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.arrivalDate) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.status) }}
                    </div>
                </div>
                {% endif %}

                {% if form.arrivalDate is defined  %}
                    <div class="row">
                        <div class="col-xs-6">
                            {{ form_row(form.arrivalNumber) }}
                        </div>
                        <div class="col-xs-6">
                            {{ form_row(form.insuranceStatus) }}
                        </div>
                    </div>
                {% endif %}

                {% if form.building is defined  %}
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.building) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.room) }}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.shortDescription, { 'label': 'Description courte' }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.description) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.proposedContribution) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.realisedContribution) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.contributionType) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.conventionType) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.employeesCount) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.mbox) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.homepage) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.facebook) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.twitter) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.linkedin) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.head, { 'label': 'Responsable(s) de l\'organisation'}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.hasMember, { 'label': 'Membres de l\'organisation'}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.topicInterest, { 'label': 'Centres d\'intérêts'}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.resourceProposed) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.resourceNeeded, { 'label': 'Ressources dont vous avez besoin'}) }}
                    </div>
                </div>

                {% if form.haveBenefitOf is defined  %}
                <div class="row">
                    <div class="col-xs-12">
                        {#{{ form_row(form.haveBenefitOf) }}#}
                    </div>
                </div>
                {% endif %}

                {% if form.leavingDate is defined  %}
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.leavingDate) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.newLocation) }}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.save, {attr:{class:'btn btn-primary-lgv pull-right'}}) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
