{% extends "::admin.html.twig" %}

{% block title %}mmmfest  | equipe{% endblock %}

{% block pageContentTitle %}Gestion de la fédération de site{% endblock %}

{% set menuSelected = 'site' %}

{% block pageContent %}
    {{ parent() }}
    <h2>Sites</h2>
    <table id="siteManager" class="table table-bordered">
        <tr>
            <th class="padded-value" style="width:25%">
                Site
            </th>

            <th class="padded-value" style="width:25%">
                Lien
            </th>

        </tr>
        {% for site in sites %}
            <tr rel="{{ site.id }}">
                <td class="padded-value" style="width:25%">
                    {{ site.name }}
                </td>

                <td class="padded-value" style="width:25%">
                    {{ site.site }}
                </td>
            </tr>

        {% endfor %}
    </table>
    {% if is_granted('ROLE_SUPER_ADMIN')%}
        <h2>Ajouter</h2>
        <div class="panel panel-gv">
            <div class="panel-body">
                vous pouvez ici fédérer des nouveau site. il suffit de lui donner un nom et de mettre l'adresse de ce serveur ( semantic forms )
            </div>
        </div>
        {{ form_start(formSite) }}
        {{ form_errors(formSite) }}
        <div class="col col-sm-4">
            <div class="form-group {% if formSite.name.vars.errors|length %}has-error has-feedback{% endif %}">
                {{ form_widget(formSite.name, { 'attr': {'class': 'form-control', 'placeholder':'nom du site'} }) }}
                {% if formSite.name.vars.errors|length %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <br>
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(formSite.name) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="form-group {% if formSite.site.vars.errors|length %}has-error has-feedback{% endif %}">
                {{ form_widget(formSite.site, { 'attr': {'class': 'form-control', 'placeholder':'http://site.fr'} }) }}
                {% if formSite.site.vars.errors|length %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <br>
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(formSite.site) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col col-sm-2">
            {{ form_widget(formSite.submit, { 'attr': {'class': 'btn btn-primary-lgv'}, 'label': 'Ajouter' }) }}
        </div>
        {{ form_end(formSite) }}
    {% endif %}
{% endblock %}
