{% extends "::admin.html.twig" %}

{% block title %}SemApps  | organisation{% endblock %}

{% block pageContentTitle %}{% if entityUri %} Organisation : {{ context_manager.getContext(app.user.sfLink).contextName}} {% else %} Nouvelle organisation {% endif %}{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% set menuSelected =  context_manager.getContext(app.user.sfLink).contextName %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block pageContent %}
    {{ parent() }}
    <div class="container">
        {% if entityUri %}
            <ul class="nav nav-tabs">
                <li role="presentation" class="active pull-right">
                    <a target="_blank" href="/detail?uri={{ entityUri }}"><span
                                class="glyphicon glyphicon-eye-open"></span>
                        Voir</a>
                </li>
                <li role="presentation" class="active pull-right">
                    <a  href="{{ path('orgaActualizeComponent', {'uniqueComponentName':'organization', 'id': entityUri|url_encode}) }}"><span
                                class="glyphicon glyphicon-refresh"></span>
                        actualiser</a>
                </li>
                <li role="presentation" class="orga-remove-profile active pull-right" rel="{{ path('orgaRemoveComponent', {'uniqueComponentName':'organization'}) }}" data-uri="{{ entityUri }}">
                    <a  href="#"><span
                                class=" glyphicon glyphicon-trash"></span>
                        retirer</a>
                </li>
            </ul>
            <br>
        {% endif %}
        <div class="row">
            {% if importForm is not null %}
                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa "></i> Créer un profil</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa"></i>Lier une donnée</a>
                    </li>
                </ul>
            {% endif %}
            {% if importForm is not null %}
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    {% endif %}
                    {{ form_start(form) }}
                    <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 formEditAvatar">
                        {% if form is not null %}
                            <a href="#" id="profilePicture" class="thumbnail" data-toggle="tooltip" data-placement="bottom" title="Cliquez ici pour télécharger une image (2Mo max !)">
                                <img src="{{ asset(image == null ? 'common/images/no_avatar.png' : 'uploads/pictures/'~image) }}"/>

                                <span id="profileEditPictureField">
                        {{ form_widget(form.organisationPicture) }}
                    </span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-6">
                                {{ form_row(form.preferedLabel, { 'label': 'Nom'}) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_row(form.alternativeLabel) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form_row(form.hasType, { 'label': 'Type d\'organisation'}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(form.address, { 'label': 'Adresse'}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(form.complementAddress, { 'label': 'Complément d\'Adresse '}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">{{ form_row(form.comment, { 'label': 'Description en une phrase'}) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">{{ form_row(form.description) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                {{ form_row(form.homePage) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_row(form.aboutPage) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_row(form.phone) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(form.hasInterest, { 'label': "Domaines thématiques"}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form_row(form.hasSubject) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">{{ form_row(form.hasResponsible, { 'label': 'Ses responsables'}) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">{{ form_row(form.employs, { 'label': 'Ses employé(e)s'}) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">{{ form_row(form.hasMember, { 'label': 'Ses membres'}) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">{{ form_row(form.partnerOf, { 'label': 'Ses partenaires'}) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(form.save, {attr:{class:'btn btn-primary-lgv pull-right'}}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    {% if importForm is not null %}
                </div>
                <div class="tab-pane fade" id="service-two">
                    {{ form_start(importForm) }}
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                {{ form_row(importForm.import, { 'label': 'import', attr:{class:'form-control'} }) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_row(importForm.save, {attr:{class:'btn btn-primary-lgv pull-right'}}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(importForm) }}
                </div>
            </div>
            {% endif%}
            <div class="col col-sm-4">
                {% embed "alertBobby.html.twig" %}
                    {% block title %}L'organisation{% endblock %}
                    {% block content %}
                        <p> C'est ici que vous pouvez renseigner les informations concernant votre organisation </p>
                        <p>/!\ ATTENTION /!\ : Lorsque des membres, employés et responsables de l'organisation sont renseignés ici,
                            cela leur donne des droits d'édition sur l'ensemble des contenus de l'organisation (profil orga, projets, événements, documents).
                            Renseignez donc ici les personnes auxquelles vous souhaitez donner des accès en édition !</p>
                        <p>/!\ ATTENTION /!\ : Pour celles et ceux qui décident d'importer un profil,
                            les modifications ne toucheront pas la source de vos données !
                            Elles resteront locale, c'est-à-dire visibles uniquement sur ce site</p>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>

{% endblock %}
