{% extends "::admin.html.twig" %}

{% block title %}mmmfest  | organisation{% endblock %}

{% block pageContentTitle %}Mon organisation{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% set menuSelected = 'detail_orga' %}

{% import 'mmmfestBundle:Macro:form.html.twig' as formField %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block pageContent %}
    {{ parent() }}
    <div class="container">
        {% if entityUri %}
            <ul class="nav nav-tabs">
                <li role="presentation" class="active pull-right">
                    <a target="_blank" href="/detail?uri={{ entityUri }}"><span
                                class="glyphicon glyphicon-eye-open"></span>
                        Voir</a>
                </li>
            </ul>
            <br>
        {% endif %}
        <div class="row">
            {{ form_start(form) }}
            <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 formEditAvatar">
                {% if form is not null %}
                    <a href="#" id="profilePicture" class="thumbnail" data-toggle="tooltip" data-placement="bottom" title="Cliquez ici pour télécharger une image (2Mo max !)">
                        <img src="{{ asset(organization.getOrganisationPicture() == null ? 'common/images/no_avatar.jpg' : 'uploads/pictures/'~organization.getOrganisationPicture()) | imagine_filter('organisation') }}"/>
                    <span id="profileEditPictureField">
                        {{ form_widget(form.organisationPicture) }}
                    </span>
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.preferedLabel, { 'label': 'Nom'}) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.alternativeLabel, { 'label': 'Autre nom'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.hostedIn) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.description) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.comment,, { 'label': 'Description en une phrase'}) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.homePage, { 'label': 'Site web'}) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.aboutPage, { 'label': 'Autres liens'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.phone) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.hasInterest, { 'label': "Centres d'intérêts de l'organization"}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.hasSubject, { 'label': 'Mots-clés'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.hasMember, { 'label': 'Ses membres'}) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.hasResponsible, { 'label': 'Ses responsables'}) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.employs, { 'label': 'Ses employés'}) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.partnerOf, { 'label': 'Ses partenaires'}) }}</div>
                </div>

                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.involvedIn, { 'label': 'Projets dans lesquels elle est impliquée'}) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.manages, { 'label': 'Projets dont elle est (co-)responsable'}) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.organizes, { 'label': 'Événement(s) qu’elle (co-)organise'}) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.participantOf, { 'label': 'Événement(s) auquel(s) elle participe'}) }}</div>
                </div>

                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.offers, { 'label': "Ce qu'elle propose" }) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.needs, { 'label': 'Ce dont elle a besoin' }) }}</div>
                </div>

                <div class="row">
                    <div class="col-sm-12" data-toggle="tooltip" data-placement="bottom" title="Saisir les documents à partir de l'interface d'administration, vous pourrez ensuite les renseigner ici">
                        {{ form_row(form.documentedBy, { 'label': "Document(s) desciptif(s) de l'organisation"}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.save, {attr:{class:'btn btn-primary-lgv pull-right'}}) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
