{% extends "::admin.html.twig" %}

{% block title %}mmmfest  | organisation{% endblock %}

{% block pageContentTitle %}Mon organisation{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% set menuSelected = 'detail_orga' %}

{% import 'mmmfestBundle:Macro:form.html.twig' as formField %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block pageContent %}
    {{ parent() }}
    <div class="container">
        {% if entityUri %}
            <ul class="nav nav-tabs">
                <li role="presentation" class="active pull-right">
                    <a target="_blank" href="/detail?uri={{ entityUri }}"><span
                                class="glyphicon glyphicon-eye-open"></span>
                        Voir</a>
                </li>
            </ul>
            <br>
        {% endif %}
        <div class="row">
            {{ form_start(form) }}
            <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 formEditAvatar">
                {% if form is not null %}
                    <a href="#" id="profilePicture" class="thumbnail" data-toggle="tooltip" data-placement="bottom" title="Cliquez ici pour télécharger une image (2Mo max !)">
                        <img src="{{ asset(organization.getOrganisationPicture() == null ? 'common/images/no_avatar.jpg' : 'uploads/pictures/'~organization.getOrganisationPicture()) | imagine_filter('organisation') }}"/>
                    <span id="profileEditPictureField">
                        {{ form_widget(form.organisationPicture) }}
                    </span>
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.preferedLabel) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.alternativeLabel) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.description) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.comment) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.homePage) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.aboutPage) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.phone) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.hasMember) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.hasResponsible) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.employs) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.partnerOf) }}</div>
                </div>

                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.offers) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">{{ form_row(form.needs) }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.documentedBy) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.hasSubject) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.save, {attr:{class:'btn btn-primary-lgv pull-right'}}) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
