{% extends '::admin.html.twig' %}

{% block pageContentTitle %}
Liste des user
{% endblock %}

{% set menuSelected = 'user' %}

{% block pageContent %}
<div class="row">
    <div class="col-sm-12">
        <table id="userDisabledManager" class="table table-bordered">
            <th colspan="5">
                <h3>Liste des utilisateurs n'ayant validé leur compte</h3>
            </th>
            <tr>
                <th class="padded-value" style="width:25%">
                    Login
                </th>
                <th class="padded-value" style="width:25%">
                    Email
                </th>
                <th class="padded-value" style="width:20%">
                    Organisation
                </th>
                <th class="padded-value" style="width:20%">
                    Responsable / Membre
                </th>
                <th></th>
            </tr>
            {% for key,user in userDisabled %}
                <tr rel="{{ key }}">
                    <td class="padded-value" style="width:25%">
                        {{ user.username }}
                    </td>
                    <td class="padded-value" style="width:25%">
                        {{ user.email }}
                    </td>
                    <td class="padded-value" style="width:20%">
                        {{ user.organization }}
                    </td>
                    <td class="padded-value" style="width:20%">
                        {% if user.isResponsible %}
                            Responsable
                        {% else %}
                            Utilisateur
                        {% endif %}
                    </td>
                    <td class="padded-value">
                        <a class="user-send-email" href="#" rel="{{key }}">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
</div>
    <div class="row">
    <div class="col-sm-12">
        <table id="userEnabledManager" class="table table-bordered">
            <tr >
                <th colspan="5">
                    <h3>Liste des utilisateur ayant validé leur compte</h3>
                </th>
            </tr>
            <tr>
                <th class="padded-value" style="width:25%">
                    Login
                </th>
                <th class="padded-value" style="width:25%">
                    Email
                </th>
                <th class="padded-value" style="width:10%">
                    Date dernière connexion
                </th>
                <th class="padded-value" style="width:20%">
                    Organisation
                </th>
                <th></th>
            </tr>
            {% for key,user in userEnabled %}
                <tr rel="{{key }}">
                    <td class="padded-value" style="width:25%">
                        {{ user.username }}
                    </td>
                    <td class="padded-value" style="width:25%">
                        {{ user.email }}
                    </td>
                    <td class="padded-value" style="width:10%">
                        {% if user.lastLogin is not null %}
                            {{ user.lastLogin|date("d/m/Y") }}
                        {% endif %}
                    </td>
                    <td class="padded-value" style="width:20%">
                        {{ user.organization }}
                    </td>

                </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}

