{% extends "::admin.html.twig" %}

{% block title %}GrandsVoisinsBundle:Admin:show{% endblock %}

{% block pageContentTitle %}Mon profil{% endblock %}

{% set menuSelected = 'profile' %}

{% import 'GrandsVoisinsBundle:Macro:form.html.twig' as formField %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('admin/js/form/wikipedia.js') }}"></script>#}
    {#<script src="{{ asset('admin/js/form/formInteractions.js') }}"></script>#}
{% endblock %}

{% block pageContent %}
    {{ parent() }}
    <br>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            {{ form_start(picture, {'attr':{'id':'profilePictureForm'}}) }}
            <a href="#" id="profilePicture" class="thumbnail">
                {% if app.user.pictureName != null or form.thumbnail == null %}
                    <img src="{{ asset(app.user.pictureName == null ? 'common/images/no_avatar.jpg' : 'uploads/pictures/'~app.user.pictureName) | imagine_filter('profile') }}"/>
                {% else  %}
                    <img src="{{ form.thumbnail }}">
                {% endif %}
                <span id="profileEditPictureField">
                    {{ form_errors(picture) }}
                    {{ form_widget(picture.pictureName) }}
                    {{ form(picture) }}
                </span>
            </a>
            {{ form_end(picture) }}
        </div>
        <div>
            {% if form is not null %}
                <form class="col-sm-6 sf-standard-form"
                      action="{{ path('profileSave') }}" method="post"
                      id="form">
                    <input name="url" value="{{ form.url }}" type="hidden">
                    <input name="uri" value="{{ form.uri }}" type="hidden">
                    <input name="graphURI" value="{{ graphURI }}" type="hidden">
                    {{ formField.input(form.fields[property.type],property.type,'hidden') }}
                    {{ formField.input(form.fields[property.img],property.img,'hidden') }}

                    <div class="form-group col col-xs-12">
                        <div class="row">
                            <div class="form-group col-xs-6">
                                {{ formField.input(form.fields[property.nom],property.nom) }}
                            </div>
                            <div class="form-group col-xs-6">
                                {{ formField.input(form.fields[property.prenom],property.prenom) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                {{ formField.input(form.fields[property.member_of],property.member_of,'notype') }}
                            </div>
                        </div>
                        {% for key, field in form.fields %}
                            {% if key not in property %}
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        {{ formField.input(field,key,field.widgetType|lower|split(' ')[0]) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <input class="btn btn-primary-lgv pull-right" type="submit"
                               value="sauvegarder">
                    </div>
                </form>
            {% else %}
                <div class="col col-sm-6 alert alert-danger">Une erreur s'est
                    produite lors de
                    l'affichage du formulaire
                </div>
            {% endif %}

            <div class="col col-sm-4">
                {% embed "alertBobby.html.twig" %}
                    {% block title %}Qui es-tu ?{% endblock %}
                    {% block content %}
                        <p>Voici la question à laquelle je te propose maintenant
                            de répondre … </p>

                        <p>Tu es libre de remplir les champs que tu veux et
                            rassure toi, ces données ne sont pas publiques,
                            elles ne sont partagées qu’entre voisins sur le site
                            ... </p>

                        <p>Petite info : Plus tu renseigneras ton profil, plus
                            tu auras de chances de te faire des amis ! </p>

                        <p>Et n'oublie pas : To be Bobby or not Bobby, that is
                            the question ... </p>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}

