{% extends "::admin.html.twig" %}

{% block title %}GrandsVoisinsBundle:Admin:show{% endblock %}

{% block pageContentTitle %}Mon profil{% endblock %}

{% block pageContent %}
    {{ parent() }}

    <div class="row">
        <div class="col col-sm-12">
            <ul id="searchTabs" class="nav nav-tabs">
                <li role="presentation" class="active pull-right">
                    <a id="profileEditButton" href="#">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;Editer
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br>

    <div class="col-sm-3">
        <a href="#" class="thumbnail">
            <img src="{{ asset('common/images/bobby.jpg') }}" style="width:100%"
                 alt="Picture">
        </a>
    </div>
    <form class="col-sm-9">
        <div id="profileRead">
            <div class="form-group">
                <label for="exampleInputEmail1">Addresse email</label>
                <input type="email" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">L'adresse
                    email est obligatoire
                </small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control"
                       id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Photo</label>
                <input type="file" class="form-control"
                       id="exampleFile" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleSelect1">Example select</label>
                <select class="form-control" id="exampleSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div id="profileEdit" style="display:none">
            <form action="{{ path('profileSave') }}" method="post" id="form">
                <input name="url" value="{{ form.subject }}" type="hidden">
                <input name="uri" value="{{ form.subject }}" type="hidden">
                <input name="graphURI" value="aa" type="hidden">

                {% for field in form.fields %}
                    <div class="form-group">
                        <label for="{{ field.label }}"
                               data-uri-property="{{ field.property }}">{{ field.label }}</label>
                        {% if( field.label|lower == 'type') %}
                            <input class="form-control" type="url"
                                   name="%3C{{ form.subject }}%3E+%3C{{ field.property }}%3E+%3C{{ field.value }}%3E+."
                                   value="{{ field.value }}">
                        {% else %}
                            {% if( field.widgetType|lower|split(' ')[0] == 'uri') %}
                                <input class="form-control" type="url"
                                       name="{{ field.htmlName }}"
                                       value="{{ field.value }}">
                            {% else %}
                                <input class="form-control"
                                       type="{{ field.widgetType|lower|split(' ')[0] }}"
                                       name={{ field.htmlName }} value="{{ field.value }}">
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                <input class="btn btn-primary-lgv pull-right" type="submit"
                       value="sauvegarder">
            </form>
        </div>
    </form>
{% endblock %}

