{% extends "::admin.html.twig" %}

{% block title %}GrandsVoisinsBundle:Admin:show{% endblock %}

{% block pageContentTitle %}Mon profil{% endblock %}

{% set menuSelected = 'fos_user_profile_show' %}

{% import 'GrandsVoisinsBundle:Macro:form.html.twig' as formField %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block pageContent %}
    {{ parent() }}
    <div class="container">
        {% if entityUri %}
            <ul class="nav nav-tabs">
                <li role="presentation" class="active pull-right">
                    <a target="_blank" href="/detail?uri={{ entityUri }}"><span
                                class="glyphicon glyphicon-eye-open"></span>
                        Voir</a>
                </li>
            </ul>
            <br>
        {% endif %}

        <div class="row">
            {{ form_start(form) }}
            <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2 formEditAvatar">
                {% if form is not null %}
                    <a href="#" id="profilePicture" class="thumbnail" data-toggle="tooltip" data-placement="bottom" title="Cliquez ici pour télécharger une image (2Mo max !)">
                        <img src="{{ asset(app.user.getPictureName() == null ? 'common/images/no_avatar.jpg' : 'uploads/pictures/'~app.user.pictureName) | imagine_filter('profile') }}"/>
                    <span id="profileEditPictureField">
                        {{ form_widget(form.pictureName) }}
                    </span>
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-6">

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.givenName, { 'label': 'Prénom'}) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.familyName, { 'label': 'Nom'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.shortDescription, { 'label': 'Description courte' }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.description) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.birthday, { 'label': 'Date de naissance'}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.postalCode) }}
                    </div>
                    <div class="col-xs-6">
                        {{  form_row(form.city) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.homepage) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.mbox) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.slack,  { 'label': 'Contact Slack Grands Voisins'}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.knows, { 'label': 'Vos ami(e)s aux Grands Voisins'}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        {{  form_row(form.thesaurus, { 'label': 'Domaine(s) d\'activité(s)'}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12" data-toggle="tooltip" data-placement="bottom" title="Saisissez des termes en anglais (temporaire) - Petite précision, vous renseignez des termes issus de wikipedia !">
                        {{ form_row(form.topicInterest, { 'label': 'Centres d\'intérêts'}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12" data-toggle="tooltip" data-placement="bottom" title="Saisissez des termes en anglais (temporaire) - Petite précision, vous renseignez des termes issus de wikipedia !">
                        {{ form_row(form.expertise, { 'label': 'Compétences'}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" data-toggle="tooltip" data-placement="bottom" title="Saisissez des termes en anglais (temporaire) - Petite précision, vous renseignez des termes issus de wikipedia !">
                        {{ form_row(form.resourceProposed) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" data-toggle="tooltip" data-placement="top" title="Saisissez des termes en anglais (temporaire) - Petite précision, vous renseignez des termes issus de wikipedia !">
                        {{ form_row(form.resourceNeeded, { 'label': 'Ressources dont vous avez besoin'}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.save, {attr:{class:'btn btn-primary-lgv pull-right'}}) }}
                    </div>
                </div>
                {#{{ form_widget(form) }}#}
            </div>
            {{ form_end(form) }}
            <div class="col col-sm-4">
                {% embed "alertBobby.html.twig" %}
                    {% block title %}Qui es-tu ?{% endblock %}
                    {% block content %}
                        <p>Voici la question à laquelle je te propose maintenant
                            de répondre … </p>

                        <p>Tu es libre de remplir les champs que tu veux et
                            rassure toi, ces données ne sont pas publiques,
                            elles ne sont partagées qu’entre voisins sur le site
                            ... </p>

                        <p>Petite info : Plus tu renseigneras ton profil, plus
                            tu auras de chances de te faire des amis ! </p>

                        <p>Et n'oublie pas : To be Bobby or not Bobby, that is
                            the question ... </p>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}

