{% extends "::admin.html.twig" %}

{% block title %}GrandsVoisinsBundle:Admin:show{% endblock %}

{% block pageContentTitle %}Mon profil{% endblock %}

{% set menuSelected = 'profile' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/js/form/wikipedia.js') }}"></script>
    <script src="{{ asset('admin/js/form/formInteractions.js') }}"></script>

{% endblock %}

{% block pageContent %}
    {{ parent() }}
    <br>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            {{ form_start(picture, {'attr':{'id':'profilePictureForm'}}) }}
            <a href="#" id="profilePicture" class="thumbnail">
                {% if app.user.pictureName != null or form.thumbnail == null %}
                    <img src="{{ asset(app.user.pictureName == null ? 'common/images/no_avatar.jpg' : 'uploads/pictures/'~app.user.pictureName) | imagine_filter('profile') }}"/>
                {% else  %}
                    <img src="{{ form.thumbnail }}">
                {% endif %}
                <span id="profileEditPictureField">
                    {{ form_errors(picture) }}
                    {{ form_widget(picture.pictureName) }}
                    {{ form(picture) }}
                </span>
            </a>
            {{ form_end(picture) }}
        </div>
        <div>
            {% if form is not null %}
                <form class="col-sm-6 sf-standard-form"
                      action="{{ path('profileSave') }}" method="post"
                      id="form">
                    <input name="url" value="{{ form.subject }}" type="hidden">
                    <input name="uri" value="{{ form.subject }}" type="hidden">
                    <input name="graphURI" value="{{ graphURI }}" type="hidden">
                    {% set temp ='' %}
                    {{ dump(form) }}
                    {% for field in form.fields %}
                        {% set cardinality = field.cardinality|split(':') %}
                        <div class="form-group col col-lg-12">
                            <div class="row">
                                {% if field.label != temp %}
                                    <label for="{{ field.label }}"
                                           data-uri-property="{{ field.property }}">{{ field.label }}</label>
                                {% else %}
                                    <label for="{{ field.label }}"
                                           data-uri-property="{{ field.property }}">--</label>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-xs-11 sf-value-block">

                                    {% if( field.label|lower == 'type') %}

                                        <input class="form-control" type="url"
                                               name="%3C{{ form.subject }}%3E+%3C{{ field.property }}%3E+%3C{{ field.value }}%3E+."
                                               value="{{ field.value }}">

                                    {% elseif( field.label|lower == 'image') %}
                                        <input class="form-control ref"
                                               type="hidden"
                                               placeholder="http://..."
                                               name="{{ field.htmlName }}"
                                               value="{{ field.value }}">
                                        {% if field.value is not empty %}
                                        <a href="{{ field.value }}">{{ field.value }}</a>
                                        {% else %}
                                            Vous n'avez pas encore choisi votre photo de profile !
                                        {% endif %}
                                    {% else %}
                                        {% if( field.widgetType|lower|split(' ')[0] == 'uri') %}
                                            <input class="form-control ref"
                                                   type="url"
                                                   placeholder="http://..."
                                                   name="{{ field.htmlName }}"
                                                   value="{{ field.value }}" {% if cardinality[0] == "1" %}required="required"{% endif %}>
                                        {% elseif ( field.widgetType|lower|split(' ')[0] == 'text') %}
                                            <input class="form-control ref"
                                                   type="text"
                                                   placeholder="texte..."
                                                   name="{{ field.htmlName }}" value="{{ field.value }}" {% if cardinality[0] == "1" %}required="required"{% endif %}>

                                        {% else %}
                                            <input class="hasLookup form-control ui-autocomplete-input ref"
                                                   type="text"
                                                   placeholder="DBPedia..."
                                                   name="{{ field.htmlName }}"
                                                   value="{{ field.value }}" {% if cardinality[0] == "1" %}required="required"{% endif %}>
                                        {% endif %}

                                    {% endif %}
                                </div>
                                <div class="col-xs-1">
                                    {% if cardinality[1] == "*" and field.label != temp %}
                                        <button type="button"
                                                class="btn btn-primary add-widget"
                                                readonly="yes"
                                                size="1"
                                                title="Add another value for label">add line
                                        </button>
                                        {% set temp =field.label %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary-lgv pull-right" type="submit"
                           value="sauvegarder">
                </form>
            {% else %}
                <div class="col col-sm-6 alert alert-danger">Une erreur s'est
                    produite lors de
                    l'affichage du formulaire
                </div>
            {% endif %}

            <div class="col col-sm-4">
                {% embed "alertBobby.html.twig" %}
                    {% block title %}Qui es-tu ?{% endblock %}
                    {% block content %}
                        <p>Voici la question à laquelle je te propose maintenant
                            de répondre … </p>

                        <p>Tu es libre de remplir les champs que tu veux et
                            rassure toi, ces données ne sont pas publiques,
                            elles ne sont partagées qu’entre voisins sur le site
                            ... </p>

                        <p>Petite info : Plus tu renseigneras ton profil, plus
                            tu auras de chances de te faire des amis ! </p>

                        <p>Et n'oublie pas : To be Bobby or not Bobby, that is
                            the question ... </p>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}

