{% extends "::admin.html.twig" %}

{% block title %}GrandsVoisinsBundle:Admin:show{% endblock %}

{% block pageContentTitle %}Equipe{% endblock %}

{% block pageContent %}
    {{ parent() }}
    <h2>Membres</h2>
    <table class="table table-bordered">
        {% for user in users %}
            <tr>
                <td class="padded-value" style="width:40%">
                    {{ user.username }}
                </td>
                <td class="padded-value" style="width:30%">
                    {{ user.email }}
                </td>
                <td style="width:30%">
                    <select class="form-control" name="accessLevel">
                        <option value="ADMIN" {% if "ROLE_ADMIN" in user.roles %}selected="true"{% endif %}>Administrateur</option>
                        <option value="EDITOR" {% if "ROLE_EDITOR" in user.roles %}selected="true"{% endif %}>Editeur</option>
                        <option value="MEMBER" {% if "ROLE_MEMBER" in user.roles %}selected="true"{% endif %}>Membre</option>
                    </select>
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="padded-value">
                        <a class="team-user-delete" href="#" rel="{{ user.id }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% if is_granted('ROLE_ADMIN')%}
        <h2>Ajouter</h2>
        <div class="panel panel-gv">
            <div class="panel-body">
                Vous pouvez créer des comptes pour les membres de votre équipe. Les
                editeurs auront la possibilité de modifier les informations
                relatives à
                votre organisation, les membres auront uniquement accès aux données
                de
                l'annuaire des Grands Voisins.
            </div>
        </div>
        {{ form_start(formAddUser) }}
        {{ form_errors(formAddUser) }}
        <div class="col col-sm-4">
            <div class="form-group {% if formAddUser.username.vars.errors|length %}has-error has-feedback{% endif %}">
                {{ form_widget(formAddUser.username, { 'attr': {'class': 'form-control', 'placeholder':'Pseudo'} }) }}
                {% if formAddUser.username.vars.errors|length %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <br>
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(formAddUser.username) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="form-group {% if formAddUser.email.vars.errors|length %}has-error has-feedback{% endif %}">
                {{ form_widget(formAddUser.email, { 'attr': {'class': 'form-control', 'placeholder':'Email'}, 'type' : 'email' }) }}
                {% if formAddUser.email.vars.errors|length %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <br>
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(formAddUser.email) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col col-sm-2 {% if formAddUser.access.vars.errors|length %}has-error has-feedback{% endif %}">
            {{ form_widget(formAddUser.access, { 'attr': {'class': 'form-control'} }) }}
            {% if formAddUser.access.vars.errors|length %}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <br>
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(formAddUser.access) }}
                </div>
            {% endif %}
        </div>
        <div class="col col-sm-2">
            {{ form_widget(formAddUser.submit, { 'attr': {'class': 'btn btn-primary-lgv'}, 'label': 'Créer' }) }}
        </div>
        {{ form_end(formAddUser) }}
    {% endif %}
{% endblock %}
