{% extends "::admin.html.twig" %}

{% block title %}GrandsVoisinsBundle:Admin:show{% endblock %}

{% block pageContentTitle %}Equipe{% endblock %}

{% set menuSelected = 'team' %}

{% block pageContent %}
    {{ parent() }}
    <h2>Membres</h2>
    <table id="teamManager" class="table table-bordered">
        <tr>
            <th class="padded-value" style="width:25%">
                Nom Prénom
            </th>

            <th class="padded-value" style="width:25%">
                Login
            </th>
            <th class="padded-value" style="width:25%">
                Email
            </th>
            <th class="padded-value" style="width:10%">
                Date dernière connexion
            </th>
            <th class="padded-value" style="width:20%">
                Rôle
            </th>
            <th></th>
        </tr>
        {% for user in users %}
            <tr rel="{{ user.id }}">
                <td class="padded-value" style="width:25%">
                    {{ user.usernameCanonical }}
                </td>

                <td class="padded-value" style="width:25%">
                    {{ user.username }}
                </td>
                <td class="padded-value" style="width:25%">
                    {{ user.email }}
                </td>
                <td class="padded-value" style="width:10%">
                    {% if user.lastLogin is not null %}
                        {{ user.lastLogin|date("d/m/Y") }}
                    {% endif %}
                </td>
                {% if user.id == idResponsable %}
                    <td class="padded-value" style="width:20%">
                        Responsable
                    </td>
                {% elseif app.user.username == user.username %}
                    <td class="padded-value" style="width:20%">
                        {{ usersRolesLabels[user.roles[0]] }}
                    </td>
                {% elseif user.hasRole('ROLE_SUPER_ADMIN') and not app.user.hasRole('ROLE_SUPER_ADMIN') %}
                    <td class="padded-value" style="width:20%">
                        {{ usersRolesLabels['ROLE_SUPER_ADMIN'] }}
                    </td>
                {% else %}
                    <td style="width:20%">
                        <select class="form-control" name="accessLevel">
                            <option value="ROLE_ADMIN" {% if user.hasRole('ROLE_ADMIN') %}selected="true"{% endif %}>Administrateur</option>
                            <option value="ROLE_MEMBER" {% if user.hasRole('ROLE_MEMBER') %}selected="true"{% endif %}>Membre</option>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <option value="ROLE_SUPER_ADMIN" {% if user.hasRole('ROLE_SUPER_ADMIN') %}selected="true"{% endif %}>Super Administrateur</option>
                            {% endif %}
                        </select>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="padded-value">
                            <a class="team-user-delete" href="#" rel="{{ user.id }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        {% if not user.enabled  %}
                            <a class="user-send-email" href="#" rel="{{user.id  }}" nameRoute={{ nameRoute }}>
                                <span class="glyphicon glyphicon-envelope"></span>
                            </a>
                            {% endif  %}
                        </td>
                    {% endif %}
                {% endif %}
            </tr>

        {% endfor %}
    </table>
    {% if is_granted('ROLE_ADMIN')%}
        <h2>Ajouter</h2>
        <div class="panel panel-gv">
            <div class="panel-body">
                Vous pouvez créer des comptes pour les membres de votre équipe. Les
                editeurs auront la possibilité de modifier les informations
                relatives à
                votre organisation, les membres auront uniquement accès aux données
                de
                l'annuaire des Grands Voisins.
            </div>
        </div>
        {{ form_start(formAddUser) }}
        {{ form_errors(formAddUser) }}
        <div class="col col-sm-4">
            <div class="form-group {% if formAddUser.username.vars.errors|length %}has-error has-feedback{% endif %}">
                {{ form_widget(formAddUser.username, { 'attr': {'class': 'form-control', 'placeholder':'Pseudo'} }) }}
                {% if formAddUser.username.vars.errors|length %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <br>
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(formAddUser.username) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="form-group {% if formAddUser.email.vars.errors|length %}has-error has-feedback{% endif %}">
                {{ form_widget(formAddUser.email, { 'attr': {'class': 'form-control', 'placeholder':'Email'}, 'type' : 'email' }) }}
                {% if formAddUser.email.vars.errors|length %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <br>
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(formAddUser.email) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col col-sm-2 {% if formAddUser.access.vars.errors|length %}has-error has-feedback{% endif %}">
            {{ form_widget(formAddUser.access, { 'attr': {'class': 'form-control'} }) }}
            {% if formAddUser.access.vars.errors|length %}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <br>
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(formAddUser.access) }}
                </div>
            {% endif %}
        </div>
        <div class="col col-sm-2">
            {{ form_widget(formAddUser.submit, { 'attr': {'class': 'btn btn-primary-lgv'}, 'label': 'Créer' }) }}
        </div>
        {{ form_end(formAddUser) }}
    {% endif %}
{% endblock %}
