{% extends '::admin.html.twig' %}

{% block pageContentTitle %}
Récapitulatif des repas
{% endblock %}

{% set menuSelected = 'food' %}

{% block pageContent %}
<div class="row">
    <div class="col-sm-12">
        <table  class="table table-bordered">
            <tr>
                <th></th>
                <th>matin</th>
                <th>midi</th>
                <th>soir</th>
            </tr>

            {% for i in 0..title|length-1 %}
                <tr>
                <th>{{ title[i] }}</th>
                <td>{{ foodRecap[i][0][0] }} (dont {{ foodRecap[i][0][1] }} vegetarien)</td>
                <td>{{ foodRecap[i][1][0] }} (dont {{ foodRecap[i][1][1] }} vegetarien)</td>
                <td>{{ foodRecap[i][2][0] }} (dont {{ foodRecap[i][2][1] }} vegetarien)</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

